.hero-bg {
    background-image: url(../img/top.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom center;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bg-blue {
    padding-bottom: 30px;
}

.hero-row {
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    text-align: center;
}

.hero-row img {
    margin: 0 0 30px 0;
    display: inline-block;
    width: 100%;
    height: 25px;
    object-fit: contain;
    object-position: center;
}

.hero-row h1 {
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

.hero-row p {
    width: 50%;
    font-size: 12px;
    display: inline-block;
    color: grey;
    margin-top: 10px;
}

.hero-row li {
    display: inline;
    color: white;
}

.skaiciai {
    margin: 30px 0 0 0;
    font-weight: bold;
    font-size: 34px;
    word-spacing: 30px;
}

.po_skaiciais {
    font-size: 12px;
    margin: 0 0 30px 0;
    word-spacing: 40px;
}

#emailsub {
    border: none;
    border-bottom: palegoldenrod 1px solid;
    width: 90%;
    background: transparent;
    line-height: 30px;
    margin: 0 5%;
}

#emailsub::placeholder {
    color: white;
    font-size: 10px;
}

#sub {
    margin: 25px 0 15px 0;
    background-color: #EA1E63;
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 3px;
}

.row {
    display: inline-block;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
}

.left-column {
    display: inline-block;
    width: 50%;
    float: left;
}

.left-column h2 {
    /* margin: 40px 0 10px 0; */
    font-size: 22px;
}

.left-column p {
    margin: 20px 0 10px 0;
    font-size: 12px;
    line-height: 20px;
}

.right-column {
    display: inline-block;
    width: 40%;
    float: right;
}

.right-column h2 {
    /* margin: 40px 0 10px 0; */
    font-size: 22px;
}

.right-column p {
    margin: 10px 0 25px 0;
    font-size: 12px;
    line-height: 20px;
}

.right-column>form>input {
    border: none;
    border-bottom: palegoldenrod 1px solid;
    line-height: 40px;
}

.right-column>form>#right-col-name {
    margin-right: 20px;
}

#right-col-message {
    width: 80%;
    line-height: 90px;
}

.right-column>form>#right-col-button {
    /* margin-bottom: 75px; */
    margin-top: 20px;
    margin-right: 70px;
    float: right;
    background-color: #EA1E63;
    padding: 12px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    line-height: 10px;
}

.bg-bottom {
    background-color: #03A9F3;
    padding-top: 0;
}

.socials {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
}

.socials a {
    color: white;
    text-decoration: none;
    margin: 20px 0;
    letter-spacing: 20px;
    font-size: 14px;
}

.footer-texts {
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    text-align: center;
}

.footer-texts img {
    margin: 20px 0 0 0;
    font-size: 30px;
    width: 26px;
    vertical-align: baseline;
    margin-right: 5px;
}

.logo-name {
    margin: 20px 0 0 0;
    font-size: 30px;
    width: 26px;
    vertical-align: baseline;
    margin-right: 5px;
}

.footer-texts p {
    line-height: 30px;
    font-size: 12px;
    color: white;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets) */

@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (max-width: 1100px) {
    .row {
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
    }
}

@media (max-width: 900px) {
    .row {
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
    }
    .left-column {
        width: 100%;
        margin-bottom: 60px;
    }
    .right-column {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .hero-row,
    .row,
    .footer-texts {
        width: 400px;
        margin-left: calc((100% - 400px) / 2);
        /* text-align: center; */
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
    .hero-row,
    .row,
    .footer-texts {
        width: 100%;
        margin-left: 0;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 900px) {
    .left-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
    .right-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .left-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
    .right-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .left-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
    .right-column {
        width: 100%;
        display: block;
        float: left;
        padding: 20px;
    }
}