.loading-bar span {
    float: right;
}

.progress-bar-1 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-1::before {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.progress-bar-1::after {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: progress-bar-1;
}

.progress-bar-1::after {
    animation-name: progress-bar-1;
}

@keyframes progress-bar-1 {
    to {
        width: 90%;
    }
}

.progress-bar-2 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-2::before {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.progress-bar-2::after {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: progress-bar-2;
}

.progress-bar-2::after {
    animation-name: progress-bar-2;
}

@keyframes progress-bar-2 {
    to {
        width: 86%;
    }
}

.progress-bar-3 {
    width: 100%;
    height: 6px;
    background-color: gainsboro;
    border-radius: 5px;
    position: relative;
}

.progress-bar-3::before {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
}

.progress-bar-3::after {
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    height: 6px;
    min-width: 0;
    max-width: 100%;
    background-color: rgb(98, 195, 255);
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: progress-bar-3;
}

.progress-bar-3::after {
    animation-name: progress-bar-3;
}

@keyframes progress-bar-3 {
    to {
        width: 86%;
    }
}
